<!DOCTYPE html>
<html  lang="ua"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Пук</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<nav>
    <div id="logo">Study load docs</div>
    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
        <li><a href="/">Головна</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <label for="drop-1" class="toggle">Викладачі +</label>
            <a href="/professors">Викладачі</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li><a href="/professors">Вказати посади, звання та ін.</a></li>
                <li><a href="/professors/send">Розіслати документи</a></li>
            </ul>
        </li>
        <li>
            <label for="drop-2" class="toggle">Налаштування акаунтів +</label>
            <a href="#">Налаштування акаунтів</a>
            <input type="checkbox" id="drop-2"/>
            <ul>
                <li><a href="/user">Мій акаунт</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="/users">Активувати акауннти</a></li>
            </ul>
        </li>
        <li><a href="/logout">Вийти</a></li>
    </ul>
</nav>
<p>Пук пуук..(</p>
</body>
</html>