<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Title</title>
</head>
<body>
<div align="center">
    <form th:action="@{/read}" method="post">
        <input type="text" th:name="path">
        <input type="submit" value="read" />
    </form>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Choose file to upload</label>
            <input type="file" id="file" name="file" multiple>
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
    <form th:action="@{/EdAsSt}" method="post">
        <input type="submit" value="Create EdAsSt" />
    </form>
</div>
</body>
</html>