<!DOCTYPE html>
<html lang="ua"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Title</title>
</head>
<body>
<nav>
    <div id="logo">Study load docs</div>
    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
        <li><a href="/">Головна</a></li>
        <li>
            <label for="drop-1" class="toggle">Викладачі +</label>
            <a href=#>Викладачі</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="/professors">Вказати посади, звання та ін.</a>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="/professors/send">Розіслати документи</a></li>
                <li sec:authorize="hasAnyAuthority('USER')"><a href="/professors/get">Завантажити індивідуальний
                    план</a></li>
            </ul>
        </li>
        <li>
            <label for="drop-2" class="toggle">Налаштування акаунтів</label>
            <a href="#">Налаштування акаунтів</a>
            <input type="checkbox" id="drop-2"/>
            <ul>
                <li><a href="/user">Мій акаунт</a></li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="/users">Активувати акауннти</a></li>
            </ul>
        </li>
        <li>
            <label for="drop-2" class="toggle">Налаштування бази даних</label>
            <a href="#">Налаштування бд</a>
            <input type="checkbox" id="drop-3"/>
            <ul>
                <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="/delete">Очистити БД(Усе зчитане)</a></li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="/deleteWithoutProfs">Очистити БД(викладачі залишаться)</a></li>
            </ul>
        </li>
        <li><a href="/logout">Вийти</a></li>
    </ul>
</nav>
<div sec:authorize="hasAnyAuthority('ADMIN')" align="center">
    <p>1. Зчитайте навантаження у базу даних</p>

    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Оберіть файл для зчитування</label>
            <input type="file" id="file" name="file">
        </div>
        <div>
            <button>Зчитати у базу даних</button>
        </div>
    </form>

    <p>2. Вкажіть посади, звання, ставки зчитаним викладачам</p>
    <a href="/professors">Перелік викладачів</a>

    <p>3. Сформуйте необхідні файли</p>
    <table>
        <tr>
            <td>Відомість учбових доручень</td>
            <td>Навантаження по викладачах</td>
            <td>індивідуальні плани</td>
        </tr>
        <tr>
            <td>
                <form th:action="@{/EdAsSt}" method="post">
                    <input type="submit" value="Сформувати документ"/>
                </form>
                <div th:if="${eas==true}">
                    <form th:action="@{/downloadEAS}">
                        <input type="submit" value="Завантажити"/>
                    </form>
                    <form th:action="@{/sendTo}" method="post">
                        <input type="text" th:name="to" value="someAddress@mail.com">
                        <input type="submit" value="Відправити"/>
                    </form>
                </div>
            </td>
            <td>
                <form th:action="@{/PSL}" method="post">
                    <input type="submit" value="Сформувати документ"/>
                </form>
                <div th:if="${psl==true}">
                    <form th:action="@{/downloadPSL}">
                        <input type="submit" value="Завантажити"/>
                    </form>
                    <form th:action="@{/sendTo}" method="post">
                        <input type="text" th:name="to" value="someAddress@mail.com">
                        <input type="submit" value="Відправити"/>
                    </form>
                </div>
            </td>
            <td>
                <form th:action="@{/IP}" method="post">
                    <input type="submit" value="Сформувати документ"/>
                </form>
                <div th:if="${ip==true}">
                    <form th:action="@{/downloadProfZip}">
                        <input type="submit" value="Завантажити"/>
                    </form>
                    <form th:action="@{/sendTo}" method="post">
                        <input type="text" th:name="to" value="someAddress@mail.com">
                        <input type="submit" value="Відправити"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
<div sec:authorize="hasAnyAuthority('USER')">
    <p>1. Завантажте або отримайте на пошту</p>
    <form th:action="@{/professor/get}">
        <input th:type="hidden" th:value="${#authentication.name}">
        <input type="submit" value="Завантажити"/>
    </form>
    <form th:action="@{/professor/getToMail}" method="post">
        <label for="email">Оберіть файл для зчитування</label>
        <input type="email" id="email" name="email">
        <input type="submit" value="Відправити"/>
    </form>
</div>
</body>
</html>