<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Title</title>
    <style>
        body{
            background-color: #000000; /* Цвет фона веб-страницы */
        }
    </style>
</head>
<body>
<div align="center">
    <form th:action="@{/read}" method="post">
        <input type="text" th:name="path">
        <input type="submit" value="read" />
    </form>
    <form th:action="@{/EdAsSt}" method="post">
        <input type="submit" value="Сформувати відомість учбових доручень" />
    </form>
    <form th:action="@{/PSL}" method="post">
        <input type="submit" value="Сформувати розподіл навантаження по викладачам" />
    </form>
    <form th:action="@{/IP}" method="post">
        <input type="submit" value="Сформувати індивідуальні плани" />
    </form>
</div>
</body>
</html>