<!DOCTYPE html>
<html  lang="ua"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Title</title>
</head>
<body>
<nav>
    <div id="logo">Study load docs</div>
    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
        <li><a href="/">Головна</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <label for="drop-1" class="toggle">Викладачі +</label>
            <a href="/professors">Викладачі</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li><a href="/professors">Вказати посади, звання та ін.</a></li>
                <li><a href="/professors/send">Розіслати документи</a></li>
            </ul>
        </li>
        <li>
            <label for="drop-2" class="toggle">Налаштування акаунтів +</label>
            <a href="#">Налаштування акаунтів</a>
            <input type="checkbox" id="drop-2"/>
            <ul>
                <li><a href="/user">Мій акаунт</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="/users">Активувати акауннти</a></li>
            </ul>
        </li>
        <li><a href="/logout">Вийти</a></li>
    </ul>
</nav>
<div align="center">
    <table>
        <tr class="tableHeads">
            <td>Посади: </td>
            <td>Наукові ступені: </td>
            <td>Вчені звання: </td>
            <td>Ставки: </td>
            <td>Примітки: </td>
        </tr>
        <tr class="tableBody">
            <td>
               <ul>
                   <li>Завідувач кафедри</li>
                   <li>Професор</li>
                   <li>Доцент</li>
                   <li>Старший викладач</li>
                   <li>Асистент</li>
               </ul>
            </td>
            <td>
                <ul>
                    <li>к.т.н.</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Професор</li>
                    <li>Доцент</li>
                    <li>Старший науковий співробітник</li>
                    <li>Старший дослідник</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>1.5</li>
                    <li>1.25</li>
                    <li>1</li>
                    <li>0.5</li>
                    <li>0.25</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Штат.</li>
                    <li>Внутрішній сумісник</li>
                    <li>Зовнішній сумісник</li>
                </ul>
            </td>
        </tr>
    </table>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Викладач</th>
            <th>Посада</th>
            <th>Науковий ступінь</th>
            <th>Вчене звання</th>
            <th>Ставка</th>
            <th>Примітка</th>
            <th>Електронна поштова скринька</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="professor : ${professors}">
            <form th:action="@{/professor/save}" method="post">
                <input type="hidden" th:name="id" th:value="*{professor.id}"/>
                <td> <input type="text" th:name="name" th:value="*{professor.name}"/> </td>
                <td> <input type="text" th:name="posada" th:value="*{professor.posada}"/> </td>
                <td> <input type="text" th:name="nauk_stupin" th:value="*{professor.nauk_stupin}"/> </td>
                <td> <input type="text" th:name="vch_zvana" th:value="*{professor.vch_zvana}"/> </td>
                <td> <input type="text" th:name="stavka" th:value="*{professor.stavka}"/> </td>
                <td> <input type="text" th:name="note" th:value="*{professor.note}"/> </td>
                <td> <input type="text" th:name="email_address" th:value="*{professor.email_address}"/> </td>
                <td> <input type="submit" th:value="Зберегти"/></td>
            </form>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>